footer {
    position: fixed;
    bottom: 0;  
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#carouselExampleCaptions {
    margin-bottom: 130px;
}

a.link {
    float: right;
}

.h1 {
    float: left;
}